<h1>Crowdfunder Projects</h1>

<strong><%= link_to "New Project", "/projects/new" %></strong>
<br>
<br>

<hr/>

<%= form_tag projects_path, method: :get, authentication: false, id: 'search-form' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search" %>
<% end %>

<p id="projects-count"><%= page_entries_info @projects %></p>

<div id="projects">
	
	<%= render @projects %>
</div>

<%= paginate @projects %>
